.formContainer {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 480px;
  outline: 1px solid green;
}

.headline {
  text-align: center;
}

.inputItems {
  padding: 0;
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  outline: 1px solid blueviolet;
  display: flex;
}





