.section {
  height: 64px;
  display: flex;
  max-width: 310px;
  overflow: hidden;
  position: relative;
}

.previewBox {
  position: relative;
  z-index: 1;

}

.previewBox:nth-child(6) {
  left: -75px;
}

.previewBox:nth-child(5) {
  left: -60px;
}

.previewBox:nth-child(4) {
  left: -45px;
}

.previewBox:nth-child(3) {
  left: -30px;
}

.previewBox:nth-child(2) {
  left: -15px;
}

.counterContainer {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -186px;
  z-index: 5;

}









